{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="shortcut icon"
    type="png"
    href="{% static 'authentication/images/icon/logo.png' %}"
  />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'authentication/css/StudentLogin.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'authentication/css/Login.css' %}"
    />
    <title>Student Login</title>
    <script
      src="https://kit.fontawesome.com/36bed4b74a.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha384-RIQuldGV8mnjGdob13cay/K1AJa+LR7VKHqSXrrB5DPGryn4pMUXRLh92Ev8KlGF" crossorigin="anonymous"></script>
    <script>
      $(window).on("scroll", function () {
        if ($(window).scrollTop()) {
          $("header").addClass("black");
        } else {
          $("header").removeClass("black");
        }
      });
    </script>
  </head>

  <body>
    <!-- Header -->
    <header id="header">
      <div class="inner flex">
        <div class="logo">
          <a href="{% url 'index' %}"
            ><img
              src="{% static 'authentication/images/icon/logo_full.png' %}"
              alt="logo"
          /></a>
        </div>
        <a href="{% url 'student_signup' %}">
          <ul class="get-started">
            <li>Sign Up</li>
          </ul>
        </a>
      </div>
    </header>

    {% for msg in messages %}
    <script>
      swal({
        title: "{{ msg }}",
        // title: "User Not Found",
        // text: "Sign-up first or Recheck your credentials",
        // icon: "error",
      });
    </script>
    {% endfor %}
    <!--Info-->
    <!-- {% for message in messages %}
  <div class="head-container">
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %} -->
    <div class="head-container">
      <div class="svg-image">
        <img src="{% static 'authentication/images/login.png' %}" alt="svg" />
      </div>
      <div class="form">
        <form
          action="{% url 'student_signin' %}"
          method="post"
          class="sign-in-form"
          id="sign-in-form"
        >
          {% csrf_token %}
          <h2 class="title">Sign In</h2>
          <!--
          <div class="input-field">
            <i class="fa fa-building"></i>

            <select name="CollegeName" id="CollegeName" required>
              <option disabled value="" selected hidden>Select College</option>
            </select>
          </div>
          -->
          <div class="input-field">
            <i class="fa fa-id-card"></i>
            <input
              type="usn"
              name="usn"
              placeholder="USN"
              id="Newusn"
              required
            />
          </div>
          <div class="input-field">
            <i class="fa fa-lock"></i>
            <input
              type="password"
              class=""
              name="password"
              placeholder="Password"
              id="Password"
              required
            />
          </div>

          <input type="submit" id="Login" value="Login" class="btn solid" />
          <div class="teachlog">
            <a href="{% url 'teacher_signin' %}">Not a Student?</a>
          </div>
          <div class="WrongPass">
            <h3 id="WrongPass"></h3>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
