{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="shortcut icon"
    type="png"
    href="{% static 'authentication/images/icon/logo.png' %}"
  />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'authentication/css/TeacherLogin.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'authentication/css/Login.css' %}"
    />
    <title>Teacher Login</title>
    <script
      src="https://kit.fontawesome.com/36bed4b74a.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha384-RIQuldGV8mnjGdob13cay/K1AJa+LR7VKHqSXrrB5DPGryn4pMUXRLh92Ev8KlGF" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Header -->
    <header id="header">
      <div class="inner flex">
        <div class="logo">
          <a href="{% url 'index' %}"
            ><img
              src="{% static 'authentication/images/icon/logo_full.png' %}"
              alt="logo"
          /></a>
        </div>
        <a href="{% url 'teacher_signup' %}">
          <ul class="get-started">
            <li>Sign Up</li>
          </ul>
        </a>
      </div>
    </header>
    {% for msg in messages %}
    <script>
      swal({
        title: "{{ msg }}",
        // title: "User Not Found",
        // text: "Sign-up first or Recheck your credentials",
        // icon: "error",
      });
    </script>
    {% endfor %}
    <!--Info-->
    <div class="head-container">
      <div class="svg-image">
        <img
          src="{% static 'authentication/images/teacherlogin.png' %}"
          alt="svg"
        />
      </div>
      <div class="form">
        <form
          action="{% url 'teacher_signin' %}"
          method="post"
          class="sign-in-form"
          id="sign-in-form"
        >
          {% csrf_token %}
          <h2 class="title">Sign In</h2>

          <div class="input-field">
            <i class="fa fa-id-card"></i>
            <input
              type="teachid"
              name="teachid"
              placeholder="Teacher ID"
              id="Newteachid"
              required
            />
          </div>
          <div class="input-field">
            <i class="fa fa-lock"></i>
            <input
              type="password"
              class=""
              name="password"
              placeholder="Password"
              id="Password"
              required
            />
          </div>

          <input type="submit" id="Login" value="Login" class="btn solid" />

          <div class="WrongPass"><h3 id="WrongPass"></h3></div>
          <div class="studlog">
            <a href="{% url 'student_signin' %}">Not a Teacher?</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
