{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Features</title>
    <link rel="icon" href="{% static 'features/images/icon/logo.png' %}" type="image/icon type">
    <script
      src="https://kit.fontawesome.com/36bed4b74a.js"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'features/js/features.js' %}" defer></script>
    <link href="{% static 'features/css/features.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="Title"><h1>features</h1></div>
    
    <section>
      <div class="container" id="CardContainer">
      </div>
    </section>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="pdf_file" accept="application/pdf">
      <input type="submit" value="Upload">
    </form>
  
  </body>
</html>
