{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link
      href="{% static 'features/css/featuresStudent.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'features/css/features.css' %}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  </head>

  <body>
    <header id="header">
      <div class="inner flex">
        <div class="logo">
          <a href="{% url 'index' %}"
            ><img
              src="{% static 'authentication/images/icon/logo_full.png' %}"
              alt="logo"
          /></a>
        </div>
        <nav>
          <ul
            id="primary-navigation"
            data-visible="false"
            class="primary-navigation flex"
          >
            <li><a href="">Courses</a></li>
            <li><a href="{% url 'suggestedvideos' %}">Refrences</a></li>
            <li><a href="{% url 'student_quizbase' %}">Quiz</a></li>
            <li><a href="{{syllabus.my_file.url}}">Syllabus</a></li>
            <li><a href="{% url 'student_notesbase' %}">Notes</a></li>
          </ul>
        </nav>
        <a href="{% url 'student_signin' %}">
          <ul class="get-started">
            <li>Sign Out</li>
          </ul>
        </a>
      </div>
    </header>

    <div class="courses-cards" style="margin-left: 100px">
      <div class="main-card" id="card_lectures">
        <div
          class="card-module"
          style="background-image: url('./static/features/images/lectures.svg')"
        >
          <div class="post-content">
            <h1 class="title">Reference</h1>
            <a href="{% url 'suggestedvideos' %}">
              <p class="description">
                <button class="btn">Continue</button>
              </p>
            </a>
          </div>
        </div>
      </div>

      <div class="main-card">
        <div
          class="card-module"
          style="background-image: url('./static/features/images/quiz.svg')"
        >
          <div class="post-content">
            <h1 class="title">Quiz</h1>
            <a href="{% url 'student_quizbase' %}">
              <p class="description">
                <button class="btn">Continue</button>
              </p>
            </a>
          </div>
        </div>
      </div>
      <div class="main-card">
        <div
          class="card-module"
          style="background-image: url('./static/features/images/syllabus.svg')"
        >
          <div class="post-content">
            <h1 class="title">Syllabus</h1>
            <a href="{{syllabus.my_file.url}}">
              <p class="description">
                <button class="btn">Continue</button>
              </p>
            </a>
          </div>
        </div>
      </div>

      <div class="main-card">
        <div
          class="card-module"
          style="background-image: url('./static/features/images/notes.svg')"
        >
          <div class="post-content">
            <h1 class="title">Notes</h1>
            <a href="{% url 'student_notesbase' %}">
              <p class="description">
                <button class="btn">Continue</button>
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="{% static '\features\js\features.js' %}"></script>
</html>
