.DS_Store

authentication/__pycache__/
authentication/migrations/__pycache__/
courses/__pycache__/
LearnZ/__pycache__/
lib/*
*.pyc
*.pyc
courses/__pycache__/__init__.cpython-310.pyc
courses/__pycache__/admin.cpython-310.pyc
courses/__pycache__/apps.cpython-310.pyc
courses/__pycache__/models.cpython-310.pyc
courses/__pycache__/views.cpython-310.pyc
courses/migrations/__pycache__/__init__.cpython-310.pyc
courses/migrations/__pycache__/__init__.cpython-310.pyc
courses/migrations/__pycache__/__init__.cpython-310.pyc
courses/migrations/__pycache__/__init__.cpython-310.pyc
courses/__pycache__/views.cpython-310.pyc
courses/__pycache__/models.cpython-310.pyc
courses/__pycache__/apps.cpython-310.pyc
courses/__pycache__/admin.cpython-310.pyc
courses/__pycache__/__init__.cpython-310.pyc
courses/migrations/__pycache__/__init__.cpython-310.pyc
courses/__pycache__/views.cpython-310.pyc
courses/__pycache__/models.cpython-310.pyc
courses/__pycache__/apps.cpython-310.pyc
courses/__pycache__/admin.cpython-310.pyc
courses/__pycache__/__init__.cpython-310.pyc
db.sqlite3
db.sqlite3
db.sqlite3
