{% load static %}
<html>
    <head>
      <link
      rel="shortcut icon"
      type="png"
      href="{% static 'authentication/images/icon/logo.png' %}"
    />
        <title>File Upload</title>
        <link
      href="{% static 'css/teacherupload.css' %}"
      rel="stylesheet"
    />
    
    <link
    href="{% static 'css/upload.css' %}"
    rel="stylesheet"
  />
    <script src="{% static 'jquery/jquery.min.js'%}"></script>
  </head>
  <body>
    <header id="header">
        <div class="inner flex">
          <div class="logo">
            <a href="{% url 'index' %}"
              ><img
                src="{% static 'authentication/images/icon/logo_full.png' %}"
                alt="logo"
            /></a>
          </div>
          <nav>
            <ul
              id="primary-navigation"
              data-visible="false"
              class="primary-navigation flex"
            >
              <li><a href="" class="cour">Courses</a></li>
              <li><a href="{% url 'quizbase' %}">Quiz</a></li>
              <li><a href="{% url 'sylbase' %}">Syllabus</a></li>
              <li><a href="{% url 'notesbase' %}">Notes</a></li>
            </ul>
          </nav>
          <a href="{% url 'teacher_signin' %}">
            <ul class="get-started">
              <li>Sign Out</li>
            </ul>
          </a>
        </div>
      </header>
        <div class="container-fluid" style="margin-top:50px">
            <div class="upload">
                <h3>Upload Files</h3>
    
                {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error'%}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>	
                    {% endif %}				
                    {% endfor %}
                {% endif %} 
    <div class="form-container">
                <form action="{% url 'notesuploadfile' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="form-label">File Name</label>
                        {{form.file_name}}
                    </div>
                    <div class="form-group">
                        <label class="form-label">File</label>
                        {{form.file}}
                    </div>
                    <button type="submit" class="btn">Submit</button>
                </form>
              </div>
            </div>
            <div class="view">
                {% if mydata %}
                <h3>View File</h3>
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th style="text-align:center">S.No</th>
                            <th>Note Name</th>
                            <th>File</th>                    
                            <th>Delete Note</th>                    
                        </tr>                    
                    </thead>
                    {% for data in mydata %}
                        <tbody>
                            <tr>
                                <td style="text-align:center">{{forloop.counter}}</td>
                                <td>{{data.file_name}}</td>
                                <td><a href="{{data.my_file.url}}">{{data.my_file}}</a></td>
                                <td style="text-align:center"><a href="notesdeleteFile/{{data.id}}" class="btn btn-danger">Delete</a></td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
    </body>
    <script>
    var cour = document.getElementsByClassName("cour");
    Array.from(cour).forEach((c)=>{
      c.addEventListener('click',(evt)=>{
        evt.preventDefault();
        $.ajax({
        type: 'GET',
        url: '/tcourse/',
        success: function(response) {
          window.location.href='/tcourse/';
        }
      });
      });
      
    });
  </script>
</html>