{% load static%}
<html>
  <head>
    <title>quiz Upload</title>

    <script src="{% static 'jquery/jquery.min.js'%}"></script>
  </head>
  <body>
    <div class="container-fluid" style="margin-top: 50px">
      <div class="col-md-6">
        {% if mydata %}
        <h3 class="page-header text-primary text-center">View Quizes</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="text-align: center">S.No</th>
              <th>Quiz Name</th>
              <th>Link</th>
            </tr>
          </thead>
          {% for data in mydata %}
          <tbody>
            <tr>
              <td style="text-align: center">{{forloop.counter}}</td>
              <td>{{data.quiz_name}}</td>
              <td><a href="{{data.link}}">{{data.link}}</a></td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
        {% endif %}
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function () {
      $(".alert").hide(4000);
    });
  </script>
</html>
