<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'fileapp:uploads' %}" method="POST" enctype="multipart/form-data">
        <input type="text" name="filename"  placeholder="enter your file name" >
        <input type="file" multiple name="uploadfoles" >
        {% csrf_token %}
        <button type="submit">File Upload</button>
    </form>

    {% for d in data %}
    
   <p> {{d.f_name}} ---- <img width="50" src="{{d.myfiles.url}}"></p>
    
    {% endfor %}
    
</body>
</html>