@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}


  
.flex {
	display: flex;
	gap: var(--gap, 5ex);
}
html {
	scroll-behavior: smooth;
}

body {
	background: #ffff;
	font-family: 'Open Sans', sans-serif;
}
  header {
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    background-color: var(--headerColor);
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  
  }
  
  header .inner {
    align-items: center;
    justify-content: space-between;
  }
  
  header .logo {
    margin: 0.5rem;
  
  }
  
  header .logo img {
    width: 8rem;
  }
  
  
.primary-navigation {
	backdrop-filter: blur(5rem);
	border-radius: 11px;

	padding: 1rem;
}
nav li a,
.get-started li a {
	color: black;
	height: 100%;
	font-size: 1.1rem;
	font-family: "Montserrat";
	font-weight: 600;
	transition: 0.5s;
	border-radius: 0.5rem;
	padding: 0.45rem;
}

nav li a:hover {
	letter-spacing: 2px;
	background-color: var(--getstartedColor);

}

  .get-started {
    background: var(--getstartedColor);
    backdrop-filter: blur(5rem);
    font-weight: bolder;
    letter-spacing: 1.2px;
    border-radius: 15px;
    padding: 0.7rem;
    margin-right: 1.75rem;
  }
  
  .get-started:hover {
    transition: 1s;
    background: var(--getStartedHoverColor);
  }
  

.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 2rem;
}
.container-fluid.single{
  justify-content: center;
  display: flex;
  align-items: center;

}
h3{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-weight: 800;
    letter-spacing: 1px;
}
.form-container{
    width:500px;
    box-shadow: 0 0px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
    padding:1.5rem;
    background-color:#fff;
  }
  
  .form-group{
    margin-bottom:1.5em;
    transition:all .3s;
  }
  .form-label{
    font-size:1rem;
    color:black;
    display:block;
  }
  
  .form-control{
    box-shadow:none;
    border-radius:0;
    border-color:#ccc;
    border-style:none none solid none;
    width:100%;
    font-size:1.25em;
  }
  .form-file-control{
    font-size:1rem;
    padding-top: .5rem;
  }
  input::file-selector-button{
    border:1px solid black;
    border-radius:3px;
    color:black;
    font-size:.75em;
    padding:2px;
    text-transform:uppercase;
    margin-right: 10px;
  }
   form .btn{
    background: 0 0 #fff;
    border:1px solid #aaa;
    border-radius:3px;
    color:black;
    font-size:1em;
    padding:5px;
    text-transform:uppercase;
  }
  .btn:hover,input::file-selector-button:hover{
    cursor:pointer;
  }

  .alert
  {
    background: 0 0 rgba(170, 244, 143, 0.748);
    border:1px solid #aaa;
    border-radius:3px;
    color:black;
    font-size:1em;
    padding:5px;
    text-transform:uppercase;
  }
  .alert-danger{
    background: 0 0 rgba(246, 98, 98, 0.748);
  }
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 1100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table.nodelete{
  min-width: 700px !important;
}
.styled-table thead tr {
    background-color: var(--getStartedHoverColor);
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
tbody .btn{
    background:var(--getstartedColor);
    border:1px solid rgb(2, 2, 2);
    border-radius:3px;
    color:black;
    padding:2px;
    text-transform:uppercase;
}
tbody .btn:hover{
    background:var(--getStartedHoverColor);
}


