{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="shortcut icon"
    type="png"
    href="{% static 'authentication/images/icon/logo.png' %}"
  />
    <link rel="stylesheet" href="{% static 'courses/css/Course_Page.css' %}" />
    <link rel="stylesheet" href="{% static 'courses/css/Course.css' %}" />
    <script
      src="https://kit.fontawesome.com/36bed4b74a.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300"
      rel="stylesheet"
      type="text/css"
    />
   
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Laila&display=swap"
      rel="stylesheet"
    />
    <script
      src="{% static 'courses/js/Course_Page.js' %}"
      defer
      data-usn="{{ usn }}"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha384-RIQuldGV8mnjGdob13cay/K1AJa+LR7VKHqSXrrB5DPGryn4pMUXRLh92Ev8KlGF" crossorigin="anonymous"></script>
    <title>Courses</title>
  </head>

  <body>
    <!-- Header -->
    <header id="header">
      <div class="inner flex">
        <div class="logo">
          <a href="{% url 'index' %}"
            ><img
              src="{% static 'courses/images/icon/logo_full.png' %}"
              alt="logo"
          /></a>
        </div>
        <div class="userloggedin flex">
          <div class="SemesterDropdown">
            <span href="" class="Title">
              Semester <i class="fa-solid fa-angle-down"></i
            ></span>
            <ul class="dropdown" id="dropdown"></ul>
          </div>
          <div class="user" id="useinfo">
            <span class="user_logo"><i class="fa-solid fa-user"></i></span>
          </div>
          <a href="{% url 'student_signin' %}" style="text-decoration: none">
            <ul class="get-started">
              <li>Sign Out</li>
            </ul>
          </a>
        </div>
      </div>
    </header>
    <h1 class="headname">Enrolled Courses</h1>
    {% for msg in messages %}
    <script>
      swal({
        title: "{{ msg }}",
        // title: "Login Successful",
        // icon: "success",
      });
    </script>
    {% endfor %}

    <!--cards-->
    <!--
    <section>
      {% if user.is_authenticated %}
      <h3>Hello {{fname}}!</h3>
      <h4>You're successfully logged in.</h4>
      <button type="submit"><a href="{% url 'signout' %}">SignOut</a></button>
      {% else %}
      <button type="submit"><a href="{% url 'student_signup' %}"">SignUp</a></button>
    <br />
    <button type="submit"><a href="{% url 'student_signin' %}">SignIn</a></button>
    </div>
  {% endif %} 
    </section>-->
    <section>
      <div class="container" id="CourseContainer"></div>
    </section>
  </body>
  <script>
    var courses = JSON.parse("{{ courses|escapejs }}");
  </script>
</html>
