@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


.logo{
	transform: translateX(10px);
    z-index: 999;
   
}
.logo img{
	width: 200px;
    z-index: 999;
   
}
body, input{
    font-family: 'Poppins', sans-serif;
    animation: transitionIn 0.6s;
    animation-timing-function: ease-in;
}

.container{
    /* margin-top: 50px; */
    position:relative;
    width:100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
    z-index: 1;
    
}
.container:before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius:50%;
    background: #27a9a6;
    top: -10%;
    right:48%;
    transform: translateY(-50%);
    z-index: 1;
    transition: 1.8s ease-in-out;
}
.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 100;
    z-index: 0;
}

.signin-signup{
    position:absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    width: 50%;
    display:grid;
    grid-template-columns: 1fr;
    z-index:5;
    transition: 1s 0.7s ease-in-out;
}


form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 5rem;
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 1/2;
    transition: 0.2s 0.7s ease-in-out;
}

form.sign-in-form{
    z-index: 2;
}
form.sign-up-form{
    z-index: 1;
    opacity: 0;
}

.title{
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field{
    max-width: 380px;
    width:100%;
    height:55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius:55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}

.input-field i{
    text-align: center;
    line-height: 55px;
    color:#acacac;
    font-size: 1.1rem;
}

.input-field input,select{
    background: none;
    outline: none;
    border:none;
    line-height:1;
    font-weight: 600;
    font-size:1.1rem;
    color:#333;
}

.input-field placeholder{
    color:#aaa;
    font-weight: 500;
}
input[type=password].wrong {
    /* 2 animations: shake, and glow red */
    animation-name: shake, glow-red;
    animation-duration: 0.7s, 0.35s;
    animation-iteration-count: 1, 2;
  }
  
  @keyframes shake {
    0%, 20%, 40%, 60%, 80% {
      transform: translateX(8px);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-8px);
    }
  }
  
  @keyframes glow-red {
    50% {
      border-color: indianred;
    }
  }
.btn{
    width:150px;
    height:50px;
    border: none;
    outline:none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #27a9a6;
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}

.btn:hover{
    background-color:#39808b;
}
.WrongPass h3{
    color:red;
}
.panels-container{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 22;

}
.panel{
    display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 7;
}
.left-panel{
    padding: 3rem 17% 2rem 12%;
    pointer-events: all;
}




.panel .content{
    color:#fff;
    transition: 1.1s .4s ease-in-out;
    padding-right:16rem;
}
.panel h3{
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}
.btn.transparent {
    margin-top:1.2rem;
    background:none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight:600;
    font-size: 0.8rem;

}


.image{
    width: 100%;
    transition: .9s .6s ease-in-out;
}

.right-panel .content, .right-panel .image{
    transform: translateX(800px);
}
.content{
    margin-top: 100px;
}

/*Animation time*/

.container.SignUpMode:before{
    transform: translate(100%,-50%);
    right: 52%;
}

.container.SignUpMode .left-panel .image,
.container.SignUpMode .left-panel .content{
    transform: translateX(-800px);
}
.container.SignUpMode .right-panel .content,
.container.SignUpMode .right-panel .image{
    transform: translateX(0px);
}
.container.SignUpMode .left-panel{
    pointer-events: none;
}
.container.SignUpMode .right-panel
{
    pointer-events: all;
}

.container.SignUpMode .signin-signup{
    left: 25%;
}

.container.SignUpMode form.sign-in-form{
    z-index: 1;
    opacity: 0;
}
.container.SignUpMode form.sign-up-form{
    z-index: 2;
    opacity: 1;
}



/*Phone view*/

@media (max-width: 870px){
    .container{
        min-height: 800px;
        height: 100vh;

    }
    .container:before{
        width: 1500px;
        height: 1500px;
        left: 30%;
        bottom:68%;
        transform: translateX(-50%);
        right:inital;
        top:initial;
        transition: 2s ease-in-out;
    }
    .signin-signup{
        width:100%;
        left: 50%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }
    .panels-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
    }
    .panel .cotent{
        padding-right:15%;
    }
    .panel h3{
        font-size: 1.2rem;
    }
    .panel p{
        font-size:0.7rem;
        padding:0.5rem 0;
    }
    .btn.transparent{
        width:110px;
        height: 35px;
        font-size: 0.7rem;
    }
    .image{
        width:200px;
        transition: 0.9s 0.8s ease-in-out;
    }
    .left-panel{
        grid-row: 1/2;
    }
    .right-panel{
        grid-row:3/4;
    }
    .right-panel .content, .right-panel .image{
        transform: translateY(300px);
    }
    
    /*Animation time*/

    .container.SignUpMode:before{
    transform: translate(-50%,100%);
    bottom:32%;
    right:initial;
    }

    .container.SignUpMode .left-panel .image,
    .container.SignUpMode .left-panel .content{
        transform: translateY(-300px)
    }
    
    .container.SignUpMode .signin-signup{
        top:5%;
        transform: translate(-50%,0);
        left:50%;
    }
}

@media (max-width: 580px){
    form{
        padding: 0 1.5rem;
    }
    .image{
        display: none;
    }
    .panel .content{
        padding: 0.5rem 1rem;
    }
    .container:before{
        bottom:72%;
        left: 50%;
    }
    .container.SignUpMode:before{
        bottom:28%;
        left: 50%;
    }
}

.btn.transparent:hover{
    background-color: #ccc;
    color:black;
}


.teachlog a:link {
    text-decoration: none;
    color: black;
}

.teachlog a:hover {
    color: #4481eb;
    background-color: transparent;
    text-decoration: none;
}
footer {
	color: #E5E8EF;
	background: #000D;
	padding: 50px 0; 
	
}
footer .footer-container {
	max-width: 1300px;
	margin: auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}

footer .left-col .footer_header{
	transform: translateY(-12px);
	margin-bottom: 10px;
    
}
footer .left-col{
    transform: translateX(350px);
}
footer p{
	margin-top: 7px;
}
footer p i{
	margin-right: 3px;
}
footer .footer_header{
	font-size: 26px;
}
footer .border{
	width: 100px;
	height: 4px;
	background: linear-gradient(to right, #27a9a6, #27a9a6);
	margin: 2px;
}
footer .mid-col .footer_header{
	transform: translateY(-30px);
}
footer .mid-col .links{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
    transform: translateY(-15px)
}
footer .mid-col{
    transform: translateX(-400px);
}
footer a{
	
	color:#fff;
	cursor:pointer;
}
footer .newsletter-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
footer input::placeholder {
  color: white !important;
}
footer .txtb {
	flex: 1;
	padding: 18px 40px;
	font-size: 16px;
	background: #343A40;
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 5px;
	min-width: 260px;
	margin-top: 20px;
	color: white;
}
footer .btn {
	margin-top: 20px;
	padding: 18px 40px;
	font-size: 16px;
	color: #f1f1f1;
	background: linear-gradient(to right, #27a9a6, #27a9a6);
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 5px;
	margin-left: 20px;
	cursor: pointer;
	transition: opacity .3s linear;	
}
footer .btn:hover {
    opacity: .7;
}


