
:root {
  --cyan: #baf8f8;
  --cardBackground:#ff735d;
  --headerColor: white;
  --formTitleColor: white;
  --inputFieldBgColor: #f0f0f0;
  --selectCollegeColor: #333;
  --inputFieldPlaceHolder: #aaa;
  --btnBgColor: #fa5b3d;
  --btnTextColor: #fff;
  --btnHoverColor: #ff735d;
  --getstartedColor: #f7a699e4;
  /*Get started is signup*/
  --getStartedHoverColor: #ff735d;
}

